jobs/*/workspace
jobs/*/builds
jobs/*/nextBuildNumber
jobs/*/lastSuccessful
jobs/*/lastStable
jobs/*/scm-polling.log


plugins
secrets
war
updates
users
userContent


Download metadata.log
hudson.tasks.Maven.xml
hudson.tasks.Mailer.xml
jenkins.model.JenkinsLocationConfiguration.xml
org.jenkinsci.plugins.gitclient.JGitTool.xml
hudson.maven.MavenModuleSet.xml
hudson.plugins.git.GitTool.xml
.owner
hudson.model.UpdateCenter.xml
hudson.triggers.SCMTrigger.xml
identity.key.enc
nodeMonitors.xml
secret.key
jenkins.model.ArtifactManagerConfiguration.xml
hudson.scm.CVSSCM.xml
jenkins.mvn.GlobalMavenConfig.xml
config.xml
queue.xml.bak
hudson.plugins.gradle.Gradle.xml
secret.key.not-so-secret
hudson.tasks.Shell.xml
hudson.plugins.git.GitSCM.xml
